/o2o/o2o新零售商品条码匹配中d_o2o_ware_tm表中商品比查出来的少需要插入.sql
/o2o/O2O铺货非医保.sql
/o2o/O2O门店证件备案报表.sql
/o2o/发信息部补录门店邮费金额.sql
/o2o/新零售O2O基础运营表.sql
/o2o/补录邮费.~sql
/丁佳育/1海典里补录邮费.sql
/丁佳育/2-1补录邮费销售传入接口表.sql
/丁佳育/2-2补录邮费销售传入接口表检验.sql
/丁佳育/3-补录邮费后把数据重新刷到当天的o2o销售报表中.sql
/丁佳育/4-补录邮费后重新执行销售统计相关过程.sql
/丁佳育/业务机构对应零售付款方式.sql
/丁佳育/代金券编号999的改创建时间,用于决策报表一致.sql
/丁佳育/报表.sql
/丁佳育/收银员日结对账单.sql
/丁佳育/查询金额不相同的单号.sql
/丁佳育/每月第三方券刷时间.sql
/丁佳育/获取总部确认金额.sql
/丁佳育/补录邮费销售传入接口表.sql
/丁佳育/重新推送日结重传.sql
/丁佳育/零售收款决策报表(财务).sql
/丁佳育/零售缴款差异,刷总部确认金额.sql
/丁佳育/零售缴款差异 修复门店日结单.sql
/业务语句/3需退货商品明细设置Excel导入重复数据查找.sql
/业务语句/89063进销存数据单据明细.sql
/业务语句/89063进销存数据查询.sql
/业务语句/230823用户权限跨企业复制.sql
/业务语句/加盟店下发供应商999910.sql
/业务语句/医保云商品查询.sql
/叶如意/叶如意会员销售明细.sql
/业务语句/商品近效期数据导出.sql
/业务语句/审阅方案删除.sql
/业务语句/拜尔分配拿出来写.sql
/业务语句/旺店通订单处理.sql
/业务语句/杭州医保云数据.sql
/业务语句/滞销可退出现数量为0.sql
/业务语句/滞销可退转退仓单后责任人为空的.sql
/业务语句/请货不满足查询.sql
/业务语句/转退仓申请单存储过程修改前.sql
/业务语句/转退仓申请单存储过程修改后.sql
/业务语句/门店患者回访复购230801.sql
/业务语句/门店患者回访明细0729.sql
/业务语句/门店患者回访明细0816.sql
/医保新增/(6.25)2022年医保新增
/医保新增/(6.~25)2022年医保新增
/医保新增/23年单次.sql
/医保新增/23年单次.~sql
/医保新增/2022年3-12月医保刷数据.sql
/医保新增/2022年医保国谈规则重新统计新增人头.sql
/医保新增/2022年医保国谈规则重新统计新增人头.~sql
/医保新增/2022年医保新增(6.25)
/医保新增/2022年医保新增(6.25修改)
/医保新增/2022年医保新增(6.~25)
/医保新增/2022年医保新增(6.~25修改)
/医保新增/2022年医保新增加上国谈规则20230708.sql
/医保新增/2022年医保新增加上国谈规则20230708.~sql
/医保新增/2022年算单次.sql
/医保新增/2023825医保新增.sql
/医保新增/2023825医保新增.~sql
/医保新增/20230713杭州新增人头汇总.sql
/医保新增/20230713杭州新增人头汇总.~sql
/医保新增/D_LL_zxcy_temp.sql
/医保新增/D_LL_zxcy_temp.~sql
/医保新增/医保人次费用查询.sql
/医保新增/医保人次费用查询.~sql
/医保新增/医保新增人头表和医保人次费用查询人头差异数.sql
/医保新增/医保新增人头表和医保人次费用查询人头差异数.~sql
/医保新增/医保新增汇总表.sql
/医保新增/单药店新增占比.sql
/医保新增/单药店新增占比.~sql
/医保新增/单诊所小计.sql
/医保新增/单诊所小计.~sql
/医保新增/天台医保新增.sql
/医保新增/天台医保新增.~sql
/医保新增/插入d_yb_first_cus.sql
/医保新增/新增医保引流.sql
/医保新增/新增医保引流.~sql
/医保新增/新增医保引流715.sql
/医保新增/新增医保引流715.~sql
/医保新增/旧医保刷数据.sql
/医保新增/杭州医保总额预算20230705.sql
/医保新增/杭州医保总额预算20230705.~sql
/医保新增/汇总.sql
/医保新增/汇总.~sql
/医保新增/用23年9月算单次.sql
/医保新增/用23年9月算单次.~sql
/医保新增/老医保数据插入.sql
/医保新增/药诊小计.sql
/医保新增/药诊小计.~sql
/医保新增/金华医保销售报表.sql
/医保新增/金华医保销售报表.~sql
/叶如意/黑马6折券补发.sql
/常用语句/1去重.sql
/常用语句/1数组使用.sql
/常用语句/233闪回查询.sql
/常用语句/20231127存储过程游标输出.sql
/常用语句/20231128%rowtype.sql
/常用语句/20231128%rowtype和游标.sql
/常用语句/connect by.sql
/常用语句/pb变量定义.sql
/常用语句/作业操作语句.sql
/常用语句/修改主键字段类型.sql
/常用语句/大数据分段插入数据(按每天).sql
/常用语句/常用函数.sql
/常用语句/效期导入跟踪.sql
/常用语句/查看运行中的事务.sql
/常用语句/查询打印模板.sql
/常用语句/根据条件删除重复数据.sql
/常用语句/游标使用.sql
/常用语句/运行有参数输出的存储过程.sql
/接口表相关/海典零售传sap遗漏后单独重传.sql
/接口表相关/海典零售传sap遗漏后单独重传.~sql
/接口表相关/退仓申请单生成退仓单失败查找原因.sql
/接口表相关/退仓申请单生成退仓单失败查找原因.~sql
/数据导入/1_东阿阿胶的数据上传.sql
/数据导入/1_东阿阿胶的数据上传.~sql
/数据导入/1_直连_亚宝手动导入.sql
/数据导入/1_直连_亚宝手动导入.~sql
/数据导入/1_直连_正大天晴手动导入.sql
/数据导入/1_直连_葛兰素手动导入.sql
/数据导入/1_直连_葛兰素手动导入.~sql
/数据导入/1_直连_诺华手动导入.sql
/数据导入/1_直连_诺华手动导入.~sql
/数据导入/1_直连_雅培手动导入.sql
/数据导入/2_诺华销售记录手动导入.sql
/数据导入/2_诺华销售记录手动导入.~sql
/数据导入/合肥亿帆数据导入.sql
/数据导入/合肥亿帆数据导入.~sql
/数据导入/海典数据导入 权限控制.sql
/数据导入/海典数据导入 权限控制.~sql
/数据导入/海典数据导入 配送出入库销售.sql
/数据导入/门店零售明细.sql
/数据导入/门店零售明细.~sql
/数据导入/鲁南进销存.sql
/数据导入/齐鲁销售数据导入.sql
/数据导入/齐鲁销售数据导入.~sql
/数据导出/诺华视图数据导出.sql
/数据直连/3-正大天晴导出模板.sql
/数据直连/11单个商品核对.sql
/数据直连/22数据直连插入总部数据到报表中.sql
/数据直连/111直连P888的损益单.sql
/数据直连/--单独对品种进行分配.sql
/数据直连/厂家目录.sql
/数据直连/历史库存对比现在库存进销存.sql
/数据直连/张红阿斯利康数据导出.sql
/数据直连/拜尔分配拿出来写.sql
/数据直连/拜尔每月平摊.sql
/数据直连/拜尔每月平摊10227518.sql
/数据直连/拜尔电商仓存储过程.sql
/数据直连/济川平均数量随机时间分配.prc
/数据直连/济川平均数量随机时间分配.sql
/数据直连/海典历史库存,采购入库单,即时库存,验收出库单.sql
/数据直连/直连数据开用户权限.sql
/数据直连/直连数据非DTP视图格式修改.sql
/数据直连/直连视图.sql
/数据直连/葛兰素重新分配.sql
/数据直连/诺华普药视图分配逻辑.sql
/数据直连/诺华生成随机销售数据.sql
/数据直连/豪森门店视图 循环执行存储过程.sql
/数据直连/默沙东零售出库导入.sql
/数据直连分配/20231130检查葛兰素电商仓配送数量是否正确.sql
/数据直连分配/诺华普药采购导入的进行手动分配.sql
/数据直连门店视图/1正式库荣昌生物门店循环修改视图.sql
/数据直连门店视图/2直连库运行 荣昌生物循环创建连接视图.sql
/数据直连门店视图/3正式库运行 将荣昌生物每个视图插入到报表中显示.sql
/李玲/12.21未来顾客信息.sql
/李玲/刷卡占比报表22年.sql
/李玲/刷卡占比报表22年.~sql
/李玲/刷卡次数占比报表.sql
/李玲/刷卡次数占比报表.~sql
/林波辰/调拨单打印模板.sql
/检查带输出的存储过程的错误/加盟店-日进销存报表查询.sql
/滞销可退表/10.20滞销可退表修改后
/滞销可退表/10.~20滞销可退表修改后
/滞销可退表/原滞销可退表(导入)转单.sql
/滞销可退表/滞销可退表10.20修改前原来分两个责任人的写法
/电商处方更新/2-用于更新双轨制药品销售登记表.sql
/电商处方更新/2-用于更新双轨制药品销售登记表.~sql
/电商处方更新/处方编辑报表处方更新空的处方日期.sql
/电商处方更新/电商处方编辑导入.sql
/电商处方更新/电商处方编辑导入.~sql
/瞿音琴/首营企业加供应商.sql
/瞿音琴/首营企业加供应商.~sql
/草稿/9草晶华.sql
/草稿/222效期金额.sql
/蒋丹阳/商品监控报表.sql
/蒋丹阳/按商品维度 调拨,在途监控.sql
/蒋丹阳/按商品维度 调拨,在途监控.~sql
/蒋丹阳/按门店维度 调拨,在途监控.sql
/蒋丹阳/按门店维度 调拨,在途监控.~sql
/蒋丹阳/调拨,在途监控.~sql
/蒋丹阳/门店监控报表.sql
/蒋丹阳/门店监控报表.~sql
/邱珍萍/代金券限制商品.sql
/邱珍萍/促销调价单刷商品.sql
/邱珍萍/促销调价单加业务机构.sql
/邱珍萍/促销调价单复制.sql
/邱珍萍/促销调价和促销赠送存储过程.sql
/邱珍萍/储值卡充值规则触发器.sql
/邱珍萍/刷新每个代金券类型下的商品.sql
/邱珍萍/商品预约活动补券.sql
/邱珍萍/商品预约界面，备注“11月活动10元预约”和“双十一110元预约”，这两条能帮我刷到康康、方同仁、康盛堂、弘德、保济堂、新昌的界面吗？.sql
/邱珍萍/导入会员卡号补特定券.sql
/邱珍萍/把一个代金券类型下的商品明细复制给另一个代金券类型.sql
/邱珍萍/补券.sql
/邱珍萍/补券过程.sql
/郑宇婷/导出退仓申请单明细.sql
/郑宇婷/导出退仓申请单明细.~sql
/郭煜/商品类别导出.sql
/颜敏会/20231004药店诊所未回访2022年.sql
/颜敏会/20231004药店诊所未回访2023年数据重新统计.sql
/颜敏会/增加集团促销赠送单号业务机构.sql
/颜敏会/慢病管理分类119101-119126.sql
/2快捷键.sql
/11111excel导入步骤.sql
/81179叶琳琴销售.sql
/proc_update_store_h_zdcll.prc
/proc_ware_zdcllwh_import.prc
/proc_ware_zdcllwh_import.~prc
/医保剔除逻辑.sql
/接口重推.sql
/接口重推存储过程.sql
/效期销售奖励.sql
/新增医保客户明细.sql
/最低陈列量自动更新存储过程修改前.prc
/温湿度.sql
/滞销可退原存储过程.prc
/用join获取busno的 classname.sql
/视图用临时表.sql
/调拨单存储过程.prc
/调拨单明细.sql
/超过半个月的配送单重推.sql
/运行出参过程.sql
/销售额.sql
/零售流水账接口重推.sql
